/*
First we’ll set the default position of the sidebar off-screen. When the active class is triggered it’s position changes to align with the left side of the browser. As the sidebar has a transition it’ll animate into position.
*/
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%; 
  background-color: peru;
  transition: left 300ms ease-out;
/*new code */    
    bottom: 0;
}
.sidebar.active {
  left: 0;
}
/*Next some basic style for each of the links in the navigation: */
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}
/* A hamburger (menu) icon can be created with CSS: */
.hamburger {
  border: none;
  outline: 0;
  width: 50px;
  position: absolute;
  right: -50px;
  background-color: peru;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: "";
  display: block;
  transition: all 300ms ease-in-out;
}
/*
 Finally we can transform the hamburger icon into a cross icon when the sidebar is active: @charset
*/
.sidebar.active .hamburger:before {
  transform: translateY(12px) rotate(135deg);
}
.sidebar.active .hamburger::after {
  transform: translateY(-12px) rotate(-135deg);
}
.sidebar.active .hamburger div {
  transform: scale(0);
}
/*
This CSS hides the middle row of the hamburger icon and rotates the top (:before) and bottom (:after) rows to form a cross.
*/